body{
    margin: 0px;
}
#canvas{
    background: green;
    display: block;/*canvas和img很像，把外面改了，里面还是原来的
    不会因为改为block就会拉伸，它的宽高是固有的*/
    /* height: 100vh; */
    /*画布的大小是由宽高决定的，css把它调高了之后，他就会整体放大或者缩小*/
    /*canvas和图片是很像的，一般不建议用canvas来控制图片的初始宽高*/
    width: 100vw;
    height: 100vh;
}
.actions{
    position:fixed;
    bottom: 0;
    left: 0;
}
.actions > #brush{
    display: none;
}
.actions.x > #brush{
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}